@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

body {
  justify-content: center;
  font-family: "Manjari", sans-serif;
  color: #f0f0f0;
  background-color: #f2ceab;
  height: 100%;
  padding: 0% 5% 10% 5%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
